<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/javva/Downloads/Git repository/RestAssured_Learning/RestAssuredDemo">
        <classes>
            <class name="comText.Library_Api_Using_Testng">
                <methods>
                    <include name="addBook"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>